.bright {
    color: white;
    padding: 0;
}

.logo-txt{
    font-size: 2rem;
    font-weight: 500;
    align-items: center;
    
    /* margin-top: .7rem;
     */
     height: 100%;
     float: bottom;
    margin-bottom: 0;

}